@import 'ng-zorro-antd/ng-zorro-antd.min.css';
@import './assets/styles/custom.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100vh;
}

.pre-bootstrapping-container {
  @apply w-full h-full relative;
  .pre-bootstrapping-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//ng-zorro override
body {
  overflow: hidden;
}

body,
.ant-modal {
  @apply text-textDark;
}

.ant-modal-body {
  padding: 0;
}
